{% extends 'base.html.twig' %}

{% form_theme formSearch 'bootstrap_4_layout.html.twig' %}

{% block filter %}
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                {{ form_start(formSearch) }}

                {{ form_row(formSearch.q) }}

                <h4>Catégories</h4>
                {{ form_row(formSearch.category) }}

                <button type="submit" class="btn btn-primary w-100">
                    Filtrer
                </button>
                {{ form_end(formSearch) }}
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}

    <section class="articles">
        {% for article in articles %}
            <article>
                <h2>{{ article.title }}</h2>
                <div class="metadata">Ecrit le {{ article.createdAT | date('d/m/Y') }} à {{ article.createdAt | date('H:i') }} dans la catégorie {{ article.category.title }}</div>
                <div class="content"><img src="{{ article.image }}" alt=""></div>
                <br>
                <div class="content">{{ article.content | raw }}</div>
                <br>
                <a href="{{ path('blog_show', {'id': article.id}) }}" class="btn btn-primary">Lire la suite</a>
                <hr>
            </article>
            <br>
        {% endfor %}
    </section>

{% endblock %}