<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="{{ path('home') }}">SymBlog</a>
            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav me-auto">

                    {% if not app.user %}
                        <li class="nav-item">
                            <a href="{{ path('security_registration') }}" class="nav-link">
                                Inscription
                            </a>
                        </li>

                    <li class="nav-item">
                        <a href="{{ path('security_login') }}" class="nav-link">
                            Connexion
                        </a>
                    </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_create', {'id': app.user.id }) }}">Créer un article</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ path('blog_user', {'id': app.user.id}) }}">Mes Articles</a>
                        </li>
                    <li class="nav-item">
                        <a href="{{ path('security_logout') }}" class="nav-link">
                            Déconnexion
                        </a>
                    </li>

                        <li class="nav-item">
                            <a href="{{ path('security_profil_edit') }}" class="nav-link">
                                Profil
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <br>
        {% block filter%}
            <div class="container">
                <form action="/recherche/" method="get">
                    <fieldset>
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <select id="Categorie" name="Categorie" class="custom-select bg-primary text-light">
                                    <option selected="selected" value="0">Catégorie</option>
                                    <option value="1">Politique</option>
                                    <option value="2">Economie</option>
                                    <option value="3">Education</option>
                                </select>
                            </div>
                            <input id="Saisie" name="Saisie" type="text" class="form-control" aria-label="Saisie de mots clés" placeholder="Mot(s) clé(s)" required="required">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="submit">Recherche</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        {% endblock %}

        <div class="container">
            {% block body %}{% endblock %}
        </div>
    </body>
</html>
